/* CSS RESET */

/* system font stack by css-tricks*/
body {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* MAIN STYLES */

:root {
  --bg-light: hsl(0, 0%, 20%);
  --bg: hsl(0, 0%, 10%);
  --bg-dark: hsl(0, 0%, 0%);
  --font-color: hsl(0, 0%, 95%);
  --font-color-muted: hsl(0, 0%, 70%);
  --font-color-location: hsl(75, 94%, 57%);
  --font-color-hover: hsl(0, 0%, 20%);
  --border-color: hsl(0, 0%, 30%);
  --button-border: hsl(0, 0%, 20%);
}

body {
  display: flex;
  flex-direction: column;
}

.page {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-dark);
  color: var(--font-color);
  min-height: 97vh;
  display: flex;
}

.profile-card {
  max-width: 375px;
  margin: auto;
  text-align: center;
  background-color: var(--bg);
  padding: 1.5rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.about > * {
  padding: 1rem 0rem;
}

.about > img {
  border-radius: 100%;
  max-width: 35%;
  margin: auto;
}

.about .profile-location {
  color: var(--font-color-location);
  font-weight: bold;
}

.socials {
  display: flex;
  flex-direction: column;
}

.social-link {
  margin: 0.5rem 0rem;
  padding: 0.75rem;
  background-color: var(--bg-light);
  color: inherit;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid var(--button-border);
}

.social-link:hover {
  background-color: var(--font-color-location);
  color: var(--font-color-hover);
}

.social-link > a {
  text-decoration: none;
  color: inherit;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--bg-dark);
  color: var(--font-color-muted);
  height: 3vh;
}

.attribution a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (min-width: 500px) {
  .profile-card {
    padding: 1.5rem 2.5rem;
  }
}

body.light {
  --bg-light: hsl(0, 0%, 100%);
  --bg: hsl(0, 0%, 90%);
  --bg-dark: hsl(0, 0%, 80%);
  --font-color: hsl(0, 0%, 10%);
  --font-color-muted: hsl(0, 0%, 30%);
  --font-color-location: hsl(75, 50%, 40%);
  --font-color-hover: hsl(0, 0%, 10%);
  --border-color: hsl(0, 0%, 70%);
  --button-border: hsl(0, 0%, 80%);
}
